<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="room.css">
  <link rel="stylesheet" href="/css/line-icons.css">
  <script>
    const ROOM_ID = "<%= roomId %>"
  </script>
  <script src="jquery.js"></script> 
  <script> 
  $(function(){
    $("#includedChatFile").load("chat.ejs"); 
  });
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js"></script>
  <link href="/styles.css" rel="stylesheet" /> 
  <title>Document</title>
</head>

<body>
  <div class='row'>
    <div class='col_stream'>
      <div id="video-grid"></div>
  <div id="wrapper">
  <div id="video-opt">
     <!-- <div class="mic"><a>Mic On</a></div>
    <div class="endCall"><img src="/images/end_call.png"></div>
    <div class="camera"><a>Cam On</a></div> -->
    <div class="lnr lnr-mic mic"></div>
    <div class="lnr lnr-phone-handset endCall"></div>
    <div class="lnr lnr-camera-video camera"></div>
    <div class="lnr lnr-screen screen_share"></div>
  </div>
  </div>
  </div>
    <div class='col_chat' style="background-color:#aaa;">
      <div id="mario-chat">
        <h2>Mario Chat</h2>
        <div id="chat-window">
            <div id="output"></div>
            <div id="feedback"></div>
        </div>
        <input id="handle" type="text" placeholder="Handle" />
        <input id="message" type="text" placeholder="Message" />
        <button id="send">Send</button>
    </div>
    </div>
    </div>
  
  <script defer src="https://unpkg.com/peerjs@1.2.0/dist/peerjs.min.js"></script>
  <!-- Write your comments here -->
  <!-- <script defer src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>-->
  <script src="/socket.io/socket.io.js" defer></script>
  <script src="script.js" defer></script>
  <script defer src="room_effect.js"></script>
</body>

</html>